.wrapper {
  border-radius: 6px;
  padding: 4px;
}

.root {
  display: grid;
  row-gap: 5px;
  column-gap: 10px;
  grid-template-areas: "name actions" "host actions";
  grid-template-columns: 1fr max-content;

  padding: 2px;
  align-items: center;
}

.input {
  align-items: center;
  display: grid;
  padding-right: 5px;
}

.name {
  grid-area: name;
}

.host {
  grid-area: host;
}

.actions {
  grid-area: actions;

  display: grid;
  gap: 5px;
  width: 100%;
}